@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

img {
  transition: all .2s;
}

@mixin center_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin decision_link {
  position: absolute;
  font-size: .7rem;
  font-weight: 600;
  z-index: 2;
  background-color: white;
  padding: .25rem;
}

.Phone {
  display: flex;
  align-items: center;
  position: relative;
  
  &__googlePixel {
    height: 40rem;
  }

  &__reminder{
    @include center_image;
    width: 16rem;
  }

  &__decision {
    @include center_image;
    width: 16rem;

    &--confirm {
      @include decision_link;
      left: 6.8rem;
      top: 11.6rem;
      cursor: pointer;
    }

    &--reschedule {
      @include decision_link;
      left: 6.3rem;
      top: 14.25rem;
      cursor: pointer;
    }

    &--cancel {
      @include decision_link;
      left: 7.1rem;
      top: 16.8rem;
      cursor: pointer;
    }
  }

  &__educate {
    @include center_image;
    width: 16rem;
  }

  &__reschedule {
    @include center_image;
    width: 16rem;
  }

  &__confirm {
    @include center_image;
    width: 16rem;
  }
}

.visible {
  display: default;
}

.invisible {
  display: none;
}