// COLORS
$color_blue_primary: #64b5f6;
$color_blue_light: #9be7ff;
$color_blue_dark: #2286c3;
$color_green_primary: #81c784;
$color_green_light: #b2fab4;
$color_green_dark: #519657;

$color_bw_black: #202124;
$color_bw_grey: #5f6368;
$color_bw_white: #ffffff;
