@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.footer {
    margin: 3rem 0 3rem 0;
    width: 100%;
    padding: .5rem 7.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &__cta{
   
    &--btn{
        border-radius: 1rem;
        width: 15vw;
    }
  }

  &__socials{
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      background-color: white;

      &--icon{
          width: 35px;
      }
  }


}
