@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.nav {
  padding: .5rem 7.8vw;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 100;


  &__link {
    padding: .5rem 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    color: $color_bw_black;
    text-decoration: none;
    border-radius: .5rem;
    transition: all .2s;
    
    &:hover {
      background-color: $color_blue_light;
    }

    &--active {
      background-color: rgba(255,255,255,.25)
    }
  }
}
