@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.Nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: .5rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,.2);
  z-index: 100;

  &__link {
    display: block;
    padding: .5rem 1rem;
    margin: .5rem;
    font-size: 1rem;
    color: $color_bw_black;
    text-decoration: none;
    border-radius: .5rem;
    transition: all .2s;
    
    &:hover {
      background-color: $color_blue;
      color: white;
    }

    &--active {
      background-color: rgba(255,255,255,.25)
    }
  }
}
