@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.nav {
  padding: .5rem 7.8vw;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 100;

  &__icon{
    display: flex;
  }
  &__title{
    color: black;
    padding-right: 1rem;
  }


  &__link {
    padding: .5rem 1rem;
    margin: .5rem;
    font-size: 1rem;
    color: $color_bw_black;
    text-decoration: none;
    border-radius: .5rem;
    transition: all .2s;
    
    &:hover {
      background-color: $color_blue;
      color: white;
    }

    &--active {
      background-color: rgba(255,255,255,.25)
    }
  }
}
